In [1]:
ls

 Volume in drive C is OS
 Volume Serial Number is 0C23-978C

 Directory of c:\Users\kanni\OneDrive\Desktop\Projects\delivery\retail sop\project\shop\templates\charts

20-09-2024  22:20    <DIR>          .
15-09-2024  18:41    <DIR>          ..
15-09-2024  21:08             2,390 graph.html
15-09-2024  18:41             1,343 graph_filter.html
08-09-2024  16:38             2,145 pie_chart.html
20-09-2024  22:13             2,395 pie_chart_filter.html
20-09-2024  22:21               485 try.ipynb
               5 File(s)          8,758 bytes
               2 Dir(s)  56,927,768,576 bytes free

In [3]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\kanni\Downloads\archive\result.csv")

In [16]:
df['category'].unique()

array(['Electronics', 'Toys', 'Clothing', 'Home & Garden', 'Sports'],
      dtype=object)

In [24]:
import pandas as pd
import numpy as np
import random
import datetime

# Create a DataFrame with the desired columns and initial values
data = {
    "invoice_no": [],
    "customer_id": [],
    "gender": [],
    "age": [],
    "category": [],
    "quantity": [],
    "price": [],
    "payment_method": [],
    "invoice_date": [],
    "shopping_mall": []
}

# Generate random data for the columns
for i in range(30000):
    data["invoice_no"].append(f"INV{i+1}")
    data["customer_id"].append(f"CUST{i+1}")
    data["gender"].append(np.random.choice(["Male", "Female"], p=[0.6, 0.4]))  # Uneven distribution favoring males
    data["age"].append(np.random.randint(18, 65))
    data["category"].append(np.random.choice(['Electronics', 'Toys', 'Clothing', 'Home & Garden', 'Sports']))
    data["quantity"].append(np.random.randint(1, 10))
    data["price"].append(np.random.uniform(10, 500))
    data["payment_method"].append(np.random.choice(["Credit Card", "Debit Card", "Cash"]))
    data["invoice_date"].append(pd.to_datetime("2023-01-01") + pd.DateOffset(days=np.random.randint(0, (datetime.date.today() - datetime.date(2023, 1, 1)).days)))
    data["shopping_mall"].append(np.random.choice(['Metrocity', 'Istinye Park', 'Viaport Outlet', 'Kanyon',
       'Emaar Square Mall', 'Mall of Istanbul', 'Zorlu Center',
       'Forum Istanbul', 'Metropol AVM', 'Cevahir AVM']))

# Create the DataFrame from the generated data
df = pd.DataFrame(data)

# Print the first few rows of the DataFrame
print(df.head())

  invoice_no customer_id  gender  age       category  quantity       price  \
0       INV1       CUST1  Female   38       Clothing         9  135.574245
1       INV2       CUST2    Male   40         Sports         1   78.077021
2       INV3       CUST3  Female   52       Clothing         9  484.126509
3       INV4       CUST4  Female   23  Home & Garden         3  411.528891
4       INV5       CUST5    Male   54  Home & Garden         5  222.166520

  payment_method invoice_date      shopping_mall
0     Debit Card   2023-03-14  Emaar Square Mall
1           Cash   2024-04-30       Zorlu Center
2    Credit Card   2024-07-19             Kanyon
3     Debit Card   2023-12-31       Zorlu Center
4    Credit Card   2023-01-24       Istinye Park

In [25]:
df['shopping_mall'].value_counts()

shopping_mall
Mall of Istanbul     3097
Metrocity            3063
Forum Istanbul       3037
Viaport Outlet       3027
Emaar Square Mall    3013
Metropol AVM         2983
Zorlu Center         2962
Istinye Park         2954
Cevahir AVM          2947
Kanyon               2917
Name: count, dtype: int64

In [26]:
df.to_csv('output_final.csv')

In [33]:
from datetime import datetime
df['invoice_date'] = pd.to_datetime(df['invoice_date'],dayfirst=True)
from_date = datetime.strptime('2024-03-01','%Y-%m-%d')
to_date = datetime.strptime('2024-04-04','%Y-%m-%d')
tf = df[(df['invoice_date'] >= from_date) & (df['invoice_date'] < to_date) ]
print(len(tf))
tf['gender'].value_counts()

1663

gender
Male      1026
Female     637
Name: count, dtype: int64

In [35]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'],dayfirst=True)
from_date = datetime.strptime('2024-08-01','%Y-%m-%d')
to_date = datetime.strptime('2024-09-30','%Y-%m-%d')
tf = df[(df['invoice_date'] >= from_date) & (df['invoice_date'] < to_date) ]
print(len(tf))
tf['gender'].value_counts()

2359

gender
Male      1412
Female     947
Name: count, dtype: int64

In [ ]:
df.to